In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.insert(1, '../../')

from entityresolution.datasets import load_restaurants
from entityresolution.indexing.block.building import MinHashLSHBlocking

In [2]:
df = load_restaurants()
df.head()

,name,address,city,phone,category,cluster
0,arnie morton's of chicago,435 s. la cienega blv.,los angeles,310/246-1501,american,0
1,arnie morton's of chicago,435 s. la cienega blvd.,los angeles,310-246-1501,steakhouses,0
2,art's delicatessen,12224 ventura blvd.,studio city,818/762-1221,american,1
3,art's deli,12224 ventura blvd.,studio city,818-762-1221,delis,1
4,hotel bel-air,701 stone canyon rd.,bel air,310/472-1211,californian,2

In [8]:
lsh = MinHashLSHBlocking(num_hashes=20)

In [9]:
attribute = "name"
arr = lsh.build(df, attribute)
arr.shape

511

(864, 20)

In [5]:
# arr = arr.astype('float')
# arr[arr == 0] = 'nan' # or use np.nan
# np.sort(arr, axis=0)

In [6]:
idx=470
arr[-30:,:]

array([[ 40,  20,  72,  39],
       [ 56,  33,  66,  26],
       [ 45, 137,  46, 114],
       [ 25,  56,  43,  45],
       [ 28,  19,  27,  16],
       [ 18, 107, 112,  54],
       [126, 248,  51, 132],
       [  7,  11,  37,   2],
       [ 26,  11,   6,   8],
       [ 21,  11,  46,  67],
       [ 28,  13,  46,  16],
       [  4,  17, 199,  47],
       [ 15,  44,  41,   8],
       [ 48,  48,  49,  47],
       [ 28,  33,  28,   2],
       [ 21,   7,  24,   8],
       [ 13,  59,  41,  25],
       [ 25,  11,  46, 114],
       [ 56,  11,  11,  29],
       [ 60,   2,  30,  25],
       [ 28,  32,  46,  26],
       [ 37,  14,  51,  26],
       [  7,   2,  30,  47],
       [ 16,  27,  49,  28],
       [ 21,  27,  28,  73],
       [ 55,  42,  35,  96],
       [169,  60,  94,  16],
       [117, 144,  10,  47],
       [  9,  48,  12,  64],
       [ 15,  36,  40,  15]])

In [7]:

pd.DataFrame(df_lsh.toarray(), columns=voc)

NameError: name 'df_lsh' is not defined

In [ ]:
lsh.transform(df, attribute)

AttributeError: 'MinHashLSHBlocking' object has no attribute 'transform'