In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.insert(1, '../../')

from entityresolution.datasets import load_restaurants
from entityresolution.utils.candidate_pairs import as_dataframe
from entityresolution.indexing.filtering import MinHashLSHBlocking

In [2]:
df = load_restaurants()
df.head()

,name,address,city,phone,category,cluster
0,arnie morton's of chicago,435 s. la cienega blv.,los angeles,310/246-1501,american,0
1,arnie morton's of chicago,435 s. la cienega blvd.,los angeles,310-246-1501,steakhouses,0
2,art's delicatessen,12224 ventura blvd.,studio city,818/762-1221,american,1
3,art's deli,12224 ventura blvd.,studio city,818-762-1221,delis,1
4,hotel bel-air,701 stone canyon rd.,bel air,310/472-1211,californian,2

In [3]:
attribute = "name"
lsh = MinHashLSHBlocking(attribute, num_hashes=20, b=6)

In [8]:
candidate_pairs = lsh.build(df, attribute)
len(candidate_pairs)

511

1543

In [ ]:
df_candidate_pairs = as_dataframe(candidate_pairs, df, df)

In [ ]:
df_candidate_pairs.iloc[0:20]

In [5]:
# arr = arr.astype('float')
# arr[arr == 0] = 'nan' # or use np.nan
# np.sort(arr, axis=0)

In [6]:
idx=470
arr[-30:,:]

NameError: name 'arr' is not defined

In [ ]:

pd.DataFrame(df_lsh.toarray(), columns=voc)

NameError: name 'df_lsh' is not defined

In [ ]:
lsh.transform(df, attribute)

AttributeError: 'MinHashLSHBlocking' object has no attribute 'transform'