In [1]:
import pandas as pd

import sys
sys.path.insert(1, '../../')

from entityresolution.datasets import load_restaurants
from entityresolution.indexing.block.building import MinHashLSHBlocking

In [2]:
df = load_restaurants()
df.head()

,name,address,city,phone,category,cluster
0,arnie morton's of chicago,435 s. la cienega blv.,los angeles,310/246-1501,american,0
1,arnie morton's of chicago,435 s. la cienega blvd.,los angeles,310-246-1501,steakhouses,0
2,art's delicatessen,12224 ventura blvd.,studio city,818/762-1221,american,1
3,art's deli,12224 ventura blvd.,studio city,818-762-1221,delis,1
4,hotel bel-air,701 stone canyon rd.,bel air,310/472-1211,californian,2

In [3]:
lsh = MinHashLSHBlocking(num_hashes=4)

In [4]:
attribute = "name"
df_lsh = lsh.build(df, attribute)

[172 286 487  46 207 149 362 105 184 336  75 146 275 486 210 462 165 128
 150 337 135  40 468 422 267 359 424  27 247 366 504 443  10 498 134 438
 137 259 351 287 347 181 328 291 474 415 318 208 480 431  39  82 329 445
  41 349 374 449   3 456 204 225 230 131 258 158 239   8 157 278 384 429
 352 399 470  29 344  76 478  68  62 376 458 447 241 302 484 383 414 271
 205 472 477   4  13 166 141 201 215 263 245 299   9 397 195 183  31 194
 130  48 404 371 323  67 417  25 406 265 132 223 113 428 155 326 331 206
 434 327 485  58 335 127   7 226 121 432 227 425 295 133  94 276 212 364
 319 100 228  12 252  38 160 156 355 234 341 196 314 179 448 402 229 332
 209 256 401 454 508 191 173 153 111 126 202  77 178  17 410  54 418 509
  89 290 119 412 476 375 190  98 243 365 436 450 373 279 360  30 222 304
 142 310 114 358 312  35 441 403 203 475 102 479   0 123 357  11 283 400
 455  59 249  22 461 129 408 253 317 163 186 109 459 411 446 342 238 370
  16   2 101  43  34 159 437  45 464 284 393 104 426 416 325  79 221  32
 277 261 308 298 262 110 124 463 348 389 266  87 161 168 488 457 300 346
 363 334 116 198  66 211 115 107  53 382 398 264 345  56 180 233 167  47
 274 409  86 421 489  52 381 388 144  60 497 218 125 122  70  85 392  61
 427 176  95 193 350  44 106 294  88   6 200 420 501 117 494 280 118  36
 316 162 269  14 430 281 251  97 321 188 240 407  83 140 213  51 224 493
 292 145 423 379 469 339 185  15 507 491 270  84 216 503  91 189 148 103
 413  96 419  93 467 143 313 237 442  24 471 232 499 257 390 492 353 391
 333 482  55 320 254 219 354  57  99 147 242 510 282  28  20 368 199 380
  49  78  74 311 505 367  42  18 440  81 285 235  73 386  90  19 296 303
 273 152 164 236 435 112 244 452  50 343 139  26 372  65  92 250  63 138
  33 192 255  69 289 170  71 466 453 500 385 369 231 340 214 378 315 120
 444 322 483 506 174 307 433 451 171 495 169  21 151 481 288 306 309 490
 338 217 502 395 460 175 394 260 182 439  23 154 377   1  80 108 356  37
 136 272 177 293 330 301 268 361 197 248 465  72 496 246 297 187  64   5
 387 305 396 405 473 220 324]
[278 332 493 386 381 214 193 457 134 447 370 138   8 334 249 340 357 439
 260 446 166 293 444   5 133 460 394  21 135 251 267 228 237 243 328 407
 242 491 146 498  20 306 395 417 275  32 115 349 379 410 104 288 262  18
 320 385 486 474  70 234 119 458  48 396 236 225  91 492 384  83 271 338
 162 216 406  41 418   3 223 324 449  88 101 149 343 487  35 356 116 208
  71 303 366 244   7 305 281 478 351 232 230 261 494  81 186  85 218 140
 485 151  14  79 308 137 183 222  77 213 263 404 472 161 284 363 164 421
 203 368 207 505 442 160 452  43 411 375 463 118 121 325 443 111 158 173
 365  42  33 287 341 355 438 441 353  82 292 273 113 501 129 471 390 170
 401  12 339 178 201 259 245  59 194 241  75 253  38 469  93 374 315 392
 504 483 499 435 128 145 434 312 330 300 311 153  72  97 224 252 175 246
 174  76 155  24 265 451 314 176 302 318 497   2 108 364 333 163  87 480
 476  25 419  65  26 295  17 231 212  40 280  96 144 217   0 459 105 235
 286 422 272 156 290 464 489 188 294 219 360 279 367 136 190  27 233 211
 403 277 336  50  45 346 468 502 298 371 467 347 481 299 167 373 331  98
 124 304  46 326 359 391 120 416 456 466 195  16 509 335 322 327 268  95
 429 289 185  49 344 200 433 431  74 142 282  86 399  84 148 420  13 484
 397 256 229  15 197 209 380 291 270 143 398 400 414  31 184 147 205  90
  29 323 276 500 172 189 297 191   1 192 313  60 258 415 496 372  80 179
 110 255 123 187 430 254 462  34 423  52   9 376 125  37 508 337 285 377
 455 152 506  19 227 199  51 154  78 296  39 450 301 409   6  94 240 437
  69 239  61 503 354  63  44 215 321 226  47 238 424 210  56  57 440 470
 157 382 362 426 139  62  64 165 220 180  58 141 109  36  73 425 102  89
 479  55 473 428 495 100 269 389  54 114 475 221  67  10 122 206  92 402
  23 130 169  68 307 127 107 132 345 283 159 465 348 412 445 177 477 482
 196 204 453 358 310 181  66 266  99  11 352 388 413 408 248 488 274 436
  22 250 317 319 432 309 387 383  53 510 448 150 361 103 171 131 112 117
   4 198 264 202 106 182 168 405  28 316 126  30 378 490 247 257 393 454
 342 350 461 507 369 329 427]
[295 387 265 354 213 291 329 423 367  49 125 110 268   2  55 459 230 236
 257 118 116 327 366 284 198 504 328 137 432  61 117 280  26 304  79  29
 472 314 407 362 457 286 219 250 128 487 466  35 458 121 476 300 182 223
 352  75 460 470 158 140 207  95 473 310  57 435  32 509  34 371 502 451
 370 228 279 478 153 241 332  36 468 430 277 415 194  92  18 296 442 452
 209 395 105 222 494 148 172  93 108 469 251 342 369 360 318 102 443 234
 244 197 312 421 109  71 419   9 101 133 341 323 412 480  78 248 418 106
 447 242 309 493 377 471 288 426 348 320 344 353 290 373  89 364 273 139
   0 349 254  48 375 330 157 319 372 488  37 206 335  31 437  45 208 427
  14 283 227 501 175 114 276 256 271 414 160 317  69 169 107 255  23  82
 465 316 178 361 503 164 448  99 393 189 259 490 334  11 382 305 247 413
 285 434 416  21 239 156 196 166 246 363 438 170 410 249  51 445   8  86
 211 163 155 282 455  28 338 440 188 142 400 195 462 122 324  13 274 202
   7 489  60 179 484 190 138 495 350 113 126 411 141   3  16 174  72 405
 146  27 299 235 176 357  64  40 203  97 120 292  47 245 111  84 396 339
  98 130  67 220 315 351 381 127 275  74  77 216 191 168  66 313 477 192
 152  41 302  90 422 496 431 463 183  19 215 355 346 406  22 389 124 100
 232 272 390  68 461 185 132  12 269 433 486 161 497   5 388  58 180 345
  80 444 378  81 425 217 154  20 326 173 399  62 386 231 287 359 347  39
  44 205 401 224 429 475 507 261 201 333 177 218 221  15 408 394 510  46
  70 383 159 397 505  87 225  96 307 456 297 204 281  50 200 135 150 134
 103 262 506   6  33 481  17 467 365 417 325 454 380 500 482 199 129 409
 193 270 453 311 171 233 104 119 402  65 165 151  88  63 243 264 112 479
  91 278 214 210 384 439 379  25  52 331 322  83 449 385 289 294 149 229
  38 167 498  30 301  10 356 144  76 374 336 492 136 143   4 446 303  42
 343 508 267 266 420 441 306 186 391 308 252  59   1 184 464 368 226 485
  56 404  94 398 145 123 260 499 212 115 450 337 340 237  24 491  53  54
 181  73 376 483 392 187 131 321  43 238 424 403 258 263 474 147 162 293
 253 298  85 436 358 428 240]
[ 57 354 467 240 126  22 256  70 137 242 388  44 121  97 139 145 182 312
 108 199 120 501  47 446  38 297 398  98 103 416 368 116 115 367 433 483
 499 148 171 397 450 286 347 248 485  71 287 153   3 412 184  79 262 270
 505 302 358 140 261 295 263 480 294  99  88 395 428 418 456 340   1 187
 298  72 318 141 504 509 155 384 396  64 394 454  59 176 422 163 109   9
  17 338  56 283 276 293 376 186 461 451  76 333 150  74 436  60 224 284
 132 464 201 359 130  95 161 445 378 250 122 279 345 197  91 373 410 342
 214 440  81 167 357  45 169 124 164 463 482 188  35  27 419 430 356 468
 149 336  26 174 385 251 315 472 332 241 365 159 231  54 477 213   6 259
 223 301 455 473 469 111 339 444 413 265  78   8 292 439  32  61  62 127
 296  36 246 414   2 237 272 328  77  93  19 476 211   0 277 314 215 337
  37  10 281 434  80 275 507 429 260 449 217 249  15 138  13 271 157 264
 488 304  89 160 273 400 125  12 382 497  16 383 134 496 406 387 361 407
  30 190 173 154 117 309 306  14 146 179 291 303 252 326 393  96  40 351
 300  48  52 290 288  11 233 510 335 119 500 459 452 274 386 289 258 343
 353 228 409 247  29  31 460 158 487 435  58 325 381 282 129 170 374 437
 195 244 448 142  43 269 401 425 346  69 344 198 377 220 254 508 227 350
 391  28 371 172 424 285 110 113 369 112 185  92 183 239 475 210 474 493
 235 471 219 331  53 225 441 204 498   4 370 392 426 457 405  49 216 470
 133 245 267 307  18   7 389 123 105 478  94  20  21 399 101 349 494 364
 491 151  87  23 481 299 427  51 152  34 506 411  86 379 442 192 327 375
 447 209 404 423 191 193 479 236 334 221 420 492 232  75 484 222 208 490
 175  83 465 278  24 266  66 200 503 453 280 310 320 495 212  50 226  55
 458 196 421 348 380 206 323 166  85 131 321  25 218 316 466  67 322 104
 229 194 255 168 330 178 308 106 311 329 362  63 341 189 319 205 462 372
 313 128 360 390  46 486 257 324  33 363 268 305   5 238 144 162 230 408
 202 438 136  65 156 147 102 234 431 135 415 366 143 502 489 355 181  84
  82 114  42  39  41 177  73 243 417 352 317  68 402 118 253 165 107 432
  90 180 403 443 203 207 100]

In [5]:
type(df_lsh)

pandas.core.frame.DataFrame

In [6]:

pd.DataFrame(df_lsh.toarray(), columns=voc)

AttributeError: 'DataFrame' object has no attribute 'toarray'

In [ ]:
lsh.transform(df, attribute)

AttributeError: 'MinHashLSHBlocking' object has no attribute 'transform'