In [1]:
import sys
sys.path.insert(1, '../')
from entityresolution.datasets.fetch_data import fetch_DBLP_ACM, fetch_DBLP_SCHOLAR, fetch_NORTH_CAROLINA_VOTERS_10M

In [2]:
# fetch_DBLP_ACM()
list_df = fetch_NORTH_CAROLINA_VOTERS_10M()

['10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_7_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_4_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_1_nump_10.csv', '10Party-ocp20', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_9_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_6_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_3_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_0_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_8_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_5_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_2_nump_10.csv']
['10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_7_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_4_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_1_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_9_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_6_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_3_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_0_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_8_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_5_nump_10.csv', '10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_2_nump_10.csv']
0 10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_7_nump_10.csv

c:\Users\atvi\Repositories\Privat\entityresolution\examples\..\entityresolution\datasets\_utils.py:57: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(TEMP_PATH + "/" + file, encoding=encoding)

1 10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_4_nump_10.csv

c:\Users\atvi\Repositories\Privat\entityresolution\examples\..\entityresolution\datasets\_utils.py:57: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(TEMP_PATH + "/" + file, encoding=encoding)

2 10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_1_nump_10.csv

c:\Users\atvi\Repositories\Privat\entityresolution\examples\..\entityresolution\datasets\_utils.py:57: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(TEMP_PATH + "/" + file, encoding=encoding)

3 10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_9_nump_10.csv

c:\Users\atvi\Repositories\Privat\entityresolution\examples\..\entityresolution\datasets\_utils.py:57: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(TEMP_PATH + "/" + file, encoding=encoding)

4 10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_6_nump_10.csv

c:\Users\atvi\Repositories\Privat\entityresolution\examples\..\entityresolution\datasets\_utils.py:57: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(TEMP_PATH + "/" + file, encoding=encoding)

5 10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_3_nump_10.csv

c:\Users\atvi\Repositories\Privat\entityresolution\examples\..\entityresolution\datasets\_utils.py:57: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(TEMP_PATH + "/" + file, encoding=encoding)

6 10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_0_nump_10.csv

c:\Users\atvi\Repositories\Privat\entityresolution\examples\..\entityresolution\datasets\_utils.py:57: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(TEMP_PATH + "/" + file, encoding=encoding)

7 10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_8_nump_10.csv

c:\Users\atvi\Repositories\Privat\entityresolution\examples\..\entityresolution\datasets\_utils.py:57: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(TEMP_PATH + "/" + file, encoding=encoding)

8 10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_5_nump_10.csv

c:\Users\atvi\Repositories\Privat\entityresolution\examples\..\entityresolution\datasets\_utils.py:57: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(TEMP_PATH + "/" + file, encoding=encoding)

9 10Party-ocp20/ncvr_numrec_1000000_modrec_2_ocp_20_myp_2_nump_10.csv

c:\Users\atvi\Repositories\Privat\entityresolution\examples\..\entityresolution\datasets\_utils.py:57: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(TEMP_PATH + "/" + file, encoding=encoding)

In [4]:
list_df

(          recid   givenname   surname         suburb postcode
 0       7926438     melissa  lockbart      charlotte    28246
 1       1907459     timothy    coocke  winston salem    27|03
 2        783632  cassanclra     moorw      charlotte    28209
 3       7294911      joshua    grsham    kenansville    2834q
 4       3808873       laura   merril|    mhapel hill    27517
 ...         ...         ...       ...            ...      ...
 999995  3681403    randolph      gray       franklin  28734.0
 999996   397804     carolyn     smith     siler city  27344.0
 999997  4173577      ashley    mccord    franklinton  27525.0
 999998  1392771      ronnie  cummings       pembroke  28372.0
 999999  5956632       jason    bagley        raleigh  27616.0

 [1000000 rows x 5 columns],
           recid  givenname    surname         suburb postcode
 0        980378      annie   johnston      warrentin    27589
 1       3309562  catheeine    sackoey     wilmington    28409
 2       4909826     dagvid  bittingmr      charlotte    28262
 3       6317995    wallace    pittmap      gastaonia    28056
 4       1907459    timoghy      cooke  winston salem    27l03
 ...         ...        ...        ...            ...      ...
 999995  3681403   randolph       gray       franklin  28734.0
 999996   292980     fannie     walker      louisburg  27549.0
 999997  4767867    charles     barber         newton  28658.0
 999998   412753      ethel       hamm       elm city  27822.0
 999999  6041228       dana       rice       fletcher  28732.0

 [1000000 rows x 5 columns],
           recid  givenname   surname          suburb postcode
 0       4778680       lora   beitman     gipsonville    27249
 1       5082427      peter    bohlwn    chapel ehill    27516
 2       1907459    t:mothy      cook   winston salem    27103
 3       7042895    wendell    miller     kenansvulle    2834g
 4       7553148     joseph   bridges         raleigb    276o4
 ...         ...        ...       ...             ...      ...
 999995  5781566    rebecca     allen  willow springs  27592.0
 999996  6830222     thomas  thompson       pink hill  28572.0
 999997  5562037   kimberly    tilley          durham  27705.0
 999998  1634810  elizabeth     mills      greensboro  27408.0
 999999  3668440    michael      boyd          supply  28462.0

 [1000000 rows x 5 columns],
           recid  givenname    surname       suburb postcode
 0       5692768    jeffrey       dahl    fairmontu    28040
 1        726566      james   thompson     st pauld    2838q
 2       7042895    wendeol     miller  kenansville    2834g
 3        783632  cajsandra      moore    charlotte    2820g
 4       3808873     laurad    merrill  chapel hill    27516
 ...         ...        ...        ...          ...      ...
 999995  4894209    antonio     butler       waxhaw  28173.0
 999996  7967934     robert    severin      raleigh  27612.0
 999997  6483474      peggy  honeycutt       angier  27501.0
 999998  8141440    vanessa      berry       manteo  27954.0
 999999  7887153     harold     austin   new london  28127.0

 [1000000 rows x 5 columns],
           recid givenname   surname         suburb postcode
 0       5082427      pete    boglen    chapel hill    27516
 1       1907459   tipothy     cooke  winston salem    271o3
 2       5522775      lybn  kitchens     greensboro    27q08
 3       3808873      lora   mrerill    chapel hill    27517
 4       7714945      isis     jonse     greensboro    274o5
 ...         ...       ...       ...            ...      ...
 999995  1890704    horace     swain     wilmington  28405.0
 999996  7242972    helena     smith      asheville  28804.0
 999997  5717518    shelby     brown        cameron  28326.0
 999998  6586215     lewis    sutton       aberdeen  28315.0
 999999  7881508     diane   rozakis        raleigh  27614.0

 [1000000 rows x 5 columns],
           recid  givenname    surname       suburb postcode
 0       3309562  catherine   sacklewy   wilmington    284o9
 1       6317995    wallace    pittman    gasttonia    28016
 2       7042895    wendell     mjller  kenanzville    28349
 3       7294911     joshua     kraham  kenansv:lle    28349
 4        142683     ronnie     ballar   burlinkton    27215
 ...         ...        ...        ...          ...      ...
 999995  4301300       john    jackson   hope mills  28348.0
 999996  6614741   virginia      angle    charlotte  28205.0
 999997  1917280     martha  duckworth        boone  28607.0
 999998    16145     robert  castelloe      windsor  27983.0
 999999  3668440    michael       boyd       supply  28462.0

 [1000000 rows x 5 columns],
           recid    givenname     surname        suburb postcode
 0        980378        annie     johnson     warrenron    2758g
 1       1504019         erib        pugh      asheboro    27202
 2       6110624       lauren      toledo   chapeo hill    2751q
 3       1591182    keorgetta    atkin5on     goldsboro    27530
 4       5522775         lvnn    kitchenz    greensboro    27408
 ...         ...          ...         ...           ...      ...
 999995  6830222       thomas    thompson     pink hill  28572.0
 999996  3825429     laramzie      burton     goldsboro  27530.0
 999997  4448521  christopher       scott  fayetteville  28304.0
 999998  4666377      barbara  valladares       advance  27006.0
 999999  8199703       sheena      hilton          cary  27511.0

 [1000000 rows x 5 columns],
           recid    givenname    surname        suburb postcode
 0       5692768      jeffrey       dahk      fairm9nt    28340
 1       3309562     caterine    sackley    wilmington    284o9
 2       1907459      timothy     cool<e  winsto salem    27103
 3       8203044      mahmood   aldahabi        lenoor    2864s
 4        522735   jakqueline   laceqell    riegelwood    28456
 ...         ...          ...        ...           ...      ...
 999995  5930738  christopher    roesner      franklin  28734.0
 999996    16145       robert  castelloe       windsor  27983.0
 999997  3173995       ashley      moore    greensboro  27410.0
 999998  4901392       carmen  hernandez    high point  27265.0
 999999  8141440      vanessa      berry        manteo  27954.0

 [1000000 rows x 5 columns],
           recid  givenname     surname       suburb postcode
 0        980378      annie     johmson    warremton    27589
 1       2352248     dorthy      yeager    jamestown    2728z
 2       4909826      david  bittiriger    charlotte    2826z
 3       7294911     joshua      graham  kenansfille    28329
 4       3808873     lacura     merrilk  chapel hill    27517
 ...         ...        ...         ...          ...      ...
 999995  1587311       todd       bowen   lewisville  27023.0
 999996  6134419  katherine   mcdougall        sylva  28779.0
 999997  5533167      linda      german      belmont  28012.0
 999998  7391501      wendy    philipps         cary  27513.0
 999999  1934431    william       adams   banner elk  28604.0

 [1000000 rows x 5 columns],
           recid  givenname    surname         suburb postcode
 0       2448951     tommie   crawford       gastojia    28354
 1       6317995    wallace    pittmab       gastlnia    28056
 2       1591182  georgetta   atkinson      goldsb0ro    27510
 3       5778019    onajsis   roseboro         shelby    28156
 4       1482472       dors     wooten    rocky mount    278o4
 ...         ...        ...        ...            ...      ...
 999995    16145     robert  castelloe        windsor  27983.0
 999996  1294251        ann     henson      middlesex  27557.0
 999997  6367900   frederic     fordin        raleigh  27617.0
 999998  7232987      larry      sykes        raleigh  27614.0
 999999  2549924     philip   broyhill  millers creek  28651.0

 [1000000 rows x 5 columns])